body{
	font-family: 'Share Tech Mono', monospace;
	font-size: 16px;
	line-height: 24px;
	margin: 0px;
	padding: 0px;
	background-image: url('Images/BG_05.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}
section{
	text-align: center;
}
.clearfloat{
	clear: both;
}
h2{
	font-size: 30px;
	text-align: center;
	font-weight: normal;
	margin: 10px;
}
.small_logo{
	float: left;
	margin-left: 58px;
	margin-top: -10px;
}
nav.nav_01{
	text-align: right;
	margin: 58px 58px 0px 0px;
}
nav.nav_01 a:link, nav.nav_01 a:visited{
	color: white;
	font-size: 21px;
	text-decoration: none;
	padding-bottom: 6px;
	margin: 0px 18px;
}
nav.nav_01 a:hover{
	border-bottom: 2px solid white;
}
nav.nav_01 a.picked{
	border-bottom: 2px solid white;
}
.banner{
	height: 430px;
	width: 650px;
	margin: 210px auto 0px auto;
	text-align: center;
}
.banner p{
	font-size: 21px;
	font-weight: normal;
	text-align: center;
}
.banner a:link, .banner a:visited{
	display: block;
	color: white;
	text-decoration: none;
	border: 2px solid white;
	width: 100px;
	font-size: 21px;
	padding: 22px 92px;
	margin: 55px auto 147px auto;
} 
.banner a:hover{
	background-color: rgba(0,0,0,.2);
}
a.arrow:link, a.arrow:visited{
	border: none;
}
a.arrow:hover{
	background-color: transparent;
}
.conversation{
	width: 792px;
	height: 990px;
	margin: 190px auto auto auto;
	padding: 20px 40px;
	background-color: rgba(0,0,0,0.2);
}
.clearfloat{
	clear: both;
}
.planet_01{
	text-align: left;
	height: 80px;
	margin: 30px 0px 30px 0px;
}
.planet_01 img{
	float: left;
}
.dialog_01{
	border: 1px solid white;
	padding: 10px 10px;
	height: 50px;
	margin-top: 5px;
	margin-left: 10px;
	border-radius: 5px;
	font-size: 16px;
	float: left;
}
.dialog_01 p, .dialog_02 p, .dialog_03 p{
	margin: 0px;
	padding: 0px;
}
.dialog_01 input, .dialog_02 input, .dialog_03 input{
	background: transparent;
	font-family: 'Share Tech Mono', monospace;
	font-size: 16px;
	color: white;
	border: none;
	border-bottom: 1px solid white;
}
.astro_02{
	text-align: right;
	height: 60px;
	margin: 30px 0px 30px 0px;
}
.astro_02 img{
	float: right;
	margin-top: -10px;
}
.dialog_02{
	border: 1px solid white;
	height: 30px;
	padding: 10px;
	margin-top: 5px;
	margin-right: 10px;
	border-radius: 5px;
	font-size: 16px;
	float: right;
}
.planet_03{
	text-align: left;
	height: 60px;
	margin: 30px 0px 30px 0px;
}
.planet_03 img{
	margin-top: -10px;
	float: left;
}
.dialog_03{
	border: 1px solid white;
	height: 30px;
	padding: 10px;
	margin-top: 5px;
	margin-left: 10px;
	border-radius: 5px;
	font-size: 16px;
	float: left;
}
.submit_01{
	margin: 70px auto;
	width: 120px;
	height: 120px;
	border: 2px solid white;
	border-radius: 60px;
}
.submit_01 img{
	margin-top: 20px;
}
.one_more_round{
	margin: 128px auto;
	text-align: center;
}
.one_more_round a:link, .one_more_round a:visited{
	display: block;
	color: white;
	text-decoration: none;
	border: 2px solid white;
	width: 270px;
	font-size: 21px;
	padding: 22px 22px;
	margin: 55px auto 178px auto;
} 
.one_more_round a:hover{
	background-color: rgba(0,0,0,.2);
}
footer{
	background-color: rgba(0,0,0,.2);
	padding: 5px;
	text-align: center;
}
footer div.social_icons{
	width: 150px;
	height: 40px;
	float: right;
	margin-top: -45px;
	margin-right: 50px;
}